
Flask==1.0.2
Flask-APScheduler==1.8.0
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
numba==0.45.1
numpy==1.14.5
pandas==0.23.1
pandas-datareader==0.6.0
parsel==1.4.0
patsy==0.5.1
pefile==2017.11.5
plotly==2.7.0
PodSixNet==0.11.0
pprintpp==0.4.0
psycopg2==2.7.5
pyasn1==0.4.3
pyasn1-modules==0.2.1
scikit-image==0.16.2
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
tweepy==3.6.0
Unidecode==1.0.22
urllib3==1.24.2
w3lib==1.19.0
websocket-client==0.54.0
websockets==3.4
Werkzeug==0.14.1
wget==3.2
wrapt==1.10.11
WTForms==2.1
