
Flask==1.1.2
jedi==0.17.0
Jinja2==2.11.2
jinja2-time==0.2.0
json5==0.9.5
jsonref==0.2
jsonschema==3.2.0
matplotlib @ file:///C:/ci/matplotlib-base_1592406662306/work
scipy==1.4.1
Unidecode==1.0.22
uritemplate==3.0.1
urllib3==1.25.9
watchdog==0.10.2
wcwidth==0.2.4
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wurlitzer==2.0.0
xlrd==1.2.0
xmltodict==0.12.0
zict==2.0.0
zipp==3.1.0
